jupyter==1.0.0
jupyter-client==5.3.4
jupyter-console==6.0.0
jupyter-core==4.6.0
jupyter_sphinx_theme==0.0.6
# matplotlib==3.1.1
notebook==6.0.1
# numpy==1.17.2
# pandas==0.25.3
# pandocfilters==1.4.2
# tables==3.6.1
virtualenv==15.1.0